html {
    font-size: 62.5%;
    background-color: whitesmoke;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}


.header {
    background: linear-gradient(90deg, rgba(193,193,224,1) 0%, rgba(182,182,255,1) 22%, rgba(127,182,247,1) 42%, rgba(75,183,233,1) 65%, rgba(8,157,200,1) 84%, rgba(0,134,161,1) 100%);
    padding: 1rem;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: darkblue;
    text-align: center;
}

@media (min-width: 498px) {
    .barra {
        justify-content: space-between;
    }

    .header h1 {
        font-size: 2.5rem;
    }
}

.caja {
    outline: none;
    border: none;
    margin-top: 4rem;
    font-size: 2.5rem;
    color: darkblue;
    width: 90%;
    resize: none;
    background-color: transparent;
}

.caja::placeholder {
    color: darkblue;
}

.img-mono {
    display: none;
}

.aside {
    margin-bottom: 3rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.mensaje-1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
.mensaje-2 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.advertencia {
    margin-bottom: 2rem;
}

.advertencia-contenido {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.advertencia-contenido p {
    font-size: 1.2rem;
}

.botones {
    margin-top: 1rem;
}

.btn-encriptar {
    color: white;
    background-color: #0011fa;
    padding: 1rem;
    border-radius: 0.8rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
}

.btn-encriptar:hover {
    background-color: #2432ff;
    cursor: pointer
}

.btn-encriptar:active {
    background-color: #0011fa;
}

.btn-desencriptar {
    border: 1px solid #0011fa;
    background-color: #eee9e9;
    color: #0011fa;
    padding: 1rem;
    border-radius: 0.8rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
}

.btn-desencriptar:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-desencriptar:active {
    background-color: #eee9e9;
}

.mensaje-encriptado {
    outline: none;
    border: none;
    font-size: 2.5rem;
    color: darkblue;
    resize: none;
    padding: 1rem 0.5rem;
    border-radius: 2rem;
    width: 100%;
}

.btn-copiar {
    border: 1px solid #0011fa;
    background-color: #eee9e9;
    color: #0011fa;
    padding: 1rem;
    border-radius: 0.8rem;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-copiar:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-copiar:active {
    background-color: darkblue;
    color: white;
    transform: scale(1.2);
    transition: 400ms;
}

@media (min-width: 498px) {
    .botones {
        display: flex;
        gap: 2rem;
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 50%;
        margin-top: unset;
    }

    .btn-copiar {
        width: 50%;
    }

    .mensaje-encriptado {
        padding: 1rem;
    }
    
}

@media (min-width: 992px) {
    .botones {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
    }

    .btn-encriptar,
    .btn-desencriptar {
        width: 30%;
        margin-top: unset;
    }

    .btn-copiar {
        width: 80%;
    }

    .principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .aside {
        text-align: center;
        margin-top: 5rem;
        padding: 4rem 0;
        /* height: 100%; */
    }

    .mensaje-encriptado {
        width: unset;
    }

    .img-mono {
        width: 100%;
        display: block;
    }
}

.footer {
    background: linear-gradient(90deg, rgba(193,193,224,1) 0%, rgba(182,182,255,1) 22%, rgba(127,182,247,1) 42%, rgba(75,183,233,1) 65%, rgba(8,157,200,1) 84%, rgba(0,134,161,1) 100%);
    padding: 2rem;
}

.footer_texto {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 auto;
}